body {
    background-image: url('/scr/images/marek-piwnicki-a-house-on-a-small-island-in-the-middle-of-a-lake.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }