body {
    background-image: url('images/marek-piwnicki-a-house-on-a-small-island-in-the-middle-of-a-lake.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.footer { 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color:black;
    color:white;
    padding:10px;
    opacity:75%; 
    text-align: center; 
    font-size: 10px;
}
/* hi */

.default-box {
    background-color:black;
    color:white;
    padding:20px;
    opacity:75%; 
    text-align: center;
}